<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="krm">

<xacro:include filename="$(find krm_description)/urdf/materials.xacro"/>
<xacro:include filename="$(find krm_description)/urdf/macros.xacro"/>


    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 1.0 1.0"/>
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 1.0 1.0"/>
            </geometry>
            
        </collision>
    </link>

    <xacro:arm_joint name="base_link01"/>


     <link name="link_01">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.35" length="0.4"/>
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.35" length="0.4"/>
            </geometry>
            
        </collision>
    </link>

    <xacro:arm_link name="02"/>

    <xacro:arm_joint name="link02_link03"/>

    <xacro:arm_link name="03"/>

    <xacro:arm_joint name="link03_link04"/>

    <xacro:arm_link name="04"/>

    <xacro:arm_joint name="link04_link05"/>

    <xacro:arm_link name="05"/>
</robot>