<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="krm">

<xacro:include filename="$(find krm_description)/urdf/materials.xacro"/>
<xacro:include filename="$(find krm_description)/urdf/macros.xacro"/>
<xacro:include filename="$(find krm_description)/urdf/krm.gazebo"/>

    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 1.0 1.0"/>
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 1.0 1.0"/>
            </geometry>
            
        </collision>
    </link>

    <xacro:arm_joint name="base_link01"  parent="base_link" child="link_01" axis="0 0 1" />


     <link name="link_01">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.35" length="0.4"/>
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.35" length="0.4"/>
            </geometry>
            
        </collision>
    </link>

    <xacro:arm_joint name="link01_link02" 
    parent="link_01" 
    child="link_02" 
    axis="1 0 0" 

    />

    <xacro:arm_link name="link_02"/>

    <xacro:arm_joint name="link02_link03" 
    parent="link_02" 
    child="link_03" 
    axis="1 0 0"
    
    />

    <xacro:arm_link name="link_03"/>

    <xacro:arm_joint name="link03_link04" 
    parent="link_03" 
    child="link_04" 
    axis="1 0 0"
    
    />

    <xacro:arm_link name="link_04"/>

    <xacro:arm_joint name="link04_link05" 
    parent="link_04" 
    child="link_05" 
    axis="1 0 0"
    
    />

    <xacro:arm_link name="link_05"/>
    
</robot>